body{
    font-family: Roboto, sans-serif;
    margin: 0 auto;
  }
  

#wrapper{
    background-image: linear-gradient(to bottom right, teal, lightcoral, darkslategray);
}

#heading{
    padding: 5px;
    color: Black;
    height: 200px;
}

#about{
    margin: 0 auto;
    padding: 5px;
    width: 90%;
    border: 5px darkgoldenrod;
}

#abt-me-text{
    padding: 5px;
    background: inherit;
    text-align: justify;
}

#projects{
    margin: 0 auto;
    width: 90%;
    background-image: linear-gradient(to bottom right, darkslategray, lightcoral, teal);
    
}

#proj-imgs{
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    background-image: linear-gradient(to bottom right, darkslategray, lightcoral, teal);   
}
#educ{
    margin: 0 auto;
    width: 90%;
    background: lightcoral;
    border: 2px black;
    }
#cert{
    margin: 0 auto;
    padding: 15px;
    text-align: center;  
}

#footer{
    margin: 0 auto;
    height: auto;
    width: 50%;
    text-align: center;
    color: #f9d18f;
    border: 2px solid #001a1a;
}